body {
  font-family: Raleway, helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #D8D0C3;
}

/* Global */

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dark {
  padding: 15px;
  background: #264653;
  color: #D8D0C3;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header */

header {
  background: #8BC4BD;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #264653 3px solid;
}

header a {
  color: #177E89;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #my_logo {
  float: left;
}

header #my_logo h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight {
  font-family: "Press Start 2P";
  color: #264653;
  font-weight: bold;
}

header .current a {
  font-weight: bold;
}

header a:hover {
  color: #A77464;
  font-weight: bold;
}

/* Background Image */

#showcase {
  min-height: 400px;
  background: url('https://cdn.pixabay.com/photo/2017/11/04/21/09/textile-2918844_1280.jpg') no-repeat center;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #15272E;
}

#showcase h1 {
  margin-top: 100px;
  font-family: Courier New;
  font-size: 80px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 24px;
  color: #15272E;
  font-weight: bold;
}

/* Boxes */

#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 80%;
}

/* About Me Page*/

img {
  width: 189px;
  height: 252px;
  border: 3px solid #177E89;
  float: left;
  margin-right: 15px;
}

footer {
  padding: 1.5em;
  width: 100%;
  background-color: #8BC4BD;
  color: #264653;
  text-align: center;
}

a {
  color: #A77464;
}

/* Media Queries */

@media(max-width: 600px) {
  header #my_logo,
  header nav,
  header nav li
  #boxes .box,
  article#main-col {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 40px;
  }
}